.sobrenos__caja, .mediosdepago, .clases, .wordwall {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

* {
  margin: 0;
  font-family: "fredoka one", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
}

header {
  display: flex;
  height: 20vh;
  grid-column: 1/span 3;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle, rgb(5, 115, 248), rgb(3, 50, 136));
  display: flex;
  height: 20vh;
  grid-column: 1/span 3;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle, rgb(5, 115, 248), rgb(3, 50, 136));
}
header .menu {
  align-self: flex-end;
}
header .menu a {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: 0.5s;
  border-radius: 0.5rem;
  text-shadow: 1px 3px 10px #000;
}
header .menu a:hover {
  color: #ddab34;
  text-shadow: 1px 3px 10px #000;
  transition: 0.5s;
}
header .menu {
  align-self: flex-end;
}
header .menu ul {
  list-style: none;
  display: flex;
}
header .menu a {
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: 0.5s;
  border-radius: 0.5rem;
  text-shadow: 1px 3px 10px #000;
}
header .menu a:hover {
  color: #ddab34;
  text-shadow: 1px 3px 10px #000;
  transition: 0.5s;
}

main {
  grid-column: 1/span 3;
}

footer {
  grid-column: 1/span 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background: radial-gradient(circle, rgb(5, 115, 248), rgb(3, 50, 136));
  grid-column: 1/span 3;
  padding: 0 2rem;
}

.footer1 {
  display: flex;
  align-items: flex-start;
  height: 20vh;
  margin: 0.5rem;
}
.footer1 .nav__footer {
  align-self: flex-start;
  margin: 0 auto;
}
.footer1 .nav__footer a {
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem;
  padding: 0.5rem 0.5rem;
  transition: 0.5s;
  border-radius: 0.5rem;
  text-shadow: 1px 3px 10px #000;
}
.footer1 .nav__footer a:hover {
  color: #ddab34;
}
.footer1 nav li {
  display: inline-block;
}

.logo {
  width: 5rem;
  height: 6rem;
}

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 3rem;
}
.footer2 .redes {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  grid-column: 1/span 3;
}
.footer2 .nav__footer {
  align-self: flex-start;
  margin: 0 auto;
}
.footer2 .nav__footer a {
  color: #fff;
  font-size: 0.8rem;
  padding: 0.2rem;
  padding: 0.5rem 0.5rem;
  transition: 0.5s;
  border-radius: 0.5rem;
  text-shadow: 1px 3px 10px #000;
}
.footer2 .nav__footer a:hover {
  color: #ddab34;
}
.footer2 nav li {
  display: inline-block;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.redes span {
  color: #fff;
}
.redes img {
  align-items: flex-start;
  height: 2.3rem;
  margin: 0.5rem;
}

.dire {
  color: #fff;
  font-size: 1rem;
  margin: 1rem;
  width: 15rem;
  text-align: center;
}

.logo img {
  width: 5rem;
}

.active {
  background-color: rgba(0, 0, 0, 0.123);
}

/* iconos responsive */
.mostrar-menu,
.esconder-menu {
  cursor: pointer;
  display: none;
  color: #ddab34;
  transition: 0.4s;
}

#check {
  display: none;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/span 3;
  grid-row: 2/span 1;
  height: 40vh;
  width: 100%;
  background: linear-gradient(rgba(57, 124, 163, 0.514), rgba(39, 64, 207, 0.438)), url(../assets/img/banerinicio.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner h1 {
  color: #f2f2f2;
  font-size: 6.5vw;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
  width: 90vw;
  margin: 2vw;
}

.banner__text {
  width: 70vw;
}
.banner__text span {
  color: #003459;
  display: inline-block;
  background-color: #ddab34;
  font-size: 4vw;
  width: 57vw;
  margin-left: 10vw;
}

.examenes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.examenes p {
  color: #003459;
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  width: 40rem;
}

.teacher {
  width: 10rem;
}

.principal__nov h2,
.principal__nov h3 {
  text-align: center;
  color: #003459;
  font-size: 3rem;
  padding: 2rem;
}
.principal__nov p {
  text-align: justify;
  color: #144b72;
  font-size: 1.8rem;
  padding: 0.5rem;
  font-family: "Baloo 2";
}

.carru-mod {
  margin: 0 auto;
  width: 70vw;
}

.principal__videoyt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.wordwall-caja iframe {
  width: 41vw;
  height: 45vh;
}

.wordwall {
  width: 90vw;
}

.juegos-titulo {
  text-align: center;
  color: #003459;
  width: 90vw;
  margin: 0 auto;
}
.juegos-titulo h2 {
  text-align: center;
  color: #003459;
  font-size: 3rem;
  padding: 2rem;
}

.principal__opiniones-titulo {
  display: flex;
  justify-content: center;
}

.principal__opiniones h3 {
  text-align: center;
  font-size: 3rem;
  color: #003459;
  padding: 3rem;
}

.principal__opiniones .caja-contenedor .caja {
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  flex: 1 1 30rem;
}

.caja-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.caja .fa-user {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 5rem;
  color: rgba(11, 177, 189, 0.253);
}

.caja .users img {
  border-radius: 50%;
  object-fit: cover;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
}

.caja .users h4 {
  color: #003459;
  font-size: 1.8rem;
}

.caja .stars i {
  color: darkgoldenrod;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.caja .comentarios {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
.redes img {
  align-items: flex-start;
  height: 2.3rem;
  margin: 0.5rem;
}
.redes img span {
  color: #fff;
  margin-top: 0;
  font-size: 1.2em;
}
.redes img .dire {
  color: #fff;
  font-size: 1rem;
  margin: 1rem;
  width: 10rem;
  text-align: center;
}

.logo img {
  width: 5rem;
}

nav li {
  display: inline-block;
}

.clases__banner {
  height: 40vh;
  background: linear-gradient(rgba(57, 124, 163, 0.63), rgba(39, 64, 207, 0.438)), url(../assets/img/clasesbaner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.clases__banner h1 {
  color: #fff;
  font-size: 5vw;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
  width: 90vw;
  padding: 2rem;
}
.clases__banner p {
  color: #fff;
  font-size: 2.1vw;
  width: 90%;
  text-align: left;
  padding: 1rem;
  margin: 2rem;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
}

.clases__banner__text {
  width: 70vw;
}

.clases {
  flex-wrap: wrap;
  margin: 2rem;
}

.card-body-mod {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body-mod h5 {
  color: #003459;
}
.card-body-mod p {
  font-size: 1rem;
  color: #144b72;
}

.cardclases-mod {
  box-shadow: 0.1rem 0.3rem 1rem #000;
  margin-bottom: 1.5rem;
}
.cardclases-mod a {
  background-color: #193e7f;
}

.cursos h2 {
  text-align: center;
  color: #003459;
  font-size: 3rem;
  padding: 2rem;
}
.cursos p {
  text-align: justify;
  color: #144b72;
  font-size: 1.5rem;
  padding: auto;
  margin: 2rem;
  font-family: "Baloo 2";
}

.card-img-mod {
  width: 100%;
  height: 100%;
}

.principal__contacto {
  background-color: rgba(85, 157, 175, 0.37);
}

.formulario {
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  color: #003459;
}

.formulario__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.formulario__text img {
  width: 2rem;
  margin: 0.5rem;
}

.mediosdepago__container {
  width: 100%;
  height: 60vh;
  margin-bottom: 0.5rem;
}

.transferencia img {
  width: 5rem;
}

.transferencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.cbu {
  padding: 1rem;
}

.mercadopago img {
  width: 15rem;
  margin-top: 1.5rem;
}

.mercadopago {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.mediosdepago {
  color: #003459;
}

.cbu li {
  list-style: none;
  font-size: 0.8rem;
}

.cvu li {
  list-style: none;
  font-size: 0.8rem;
}

.cvu {
  padding: 1rem;
}

.fechasdepago {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #003459;
}

.container__ubicacion {
  padding: 1rem;
}

.ubicacion {
  height: 50vh;
  background-color: rgba(168, 218, 220, 0.6588235294);
  grid-column: 1/span 3;
}
.ubicacion iframe {
  width: 100%;
  height: 100%;
}

.tit-ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.9rem;
}
.tit-ubicacion h2 {
  color: #003459;
  padding: 0.5rem;
}
.tit-ubicacion img {
  width: 3rem;
  height: 3rem;
  padding-bottom: 0.3rem;
}

.sobrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.sobrenos__caja {
  padding: 0.9rem;
  box-shadow: 0.2rem 0.2rem 0.3rem;
  border-radius: 0.2rem;
  width: 100%;
}

.sobrenos__1 {
  flex-direction: column;
  background-color: rgba(145, 166, 180, 0.5333333333);
}

.sobrenos__2 {
  background-color: rgba(9, 185, 238, 0.3411764706);
}

.sobrenos__3 {
  background-color: rgba(145, 166, 180, 0.5333333333);
}

.sobrenos__caja img {
  width: 10rem;
}

.sobrenos__caja {
  margin: 0.5rem;
  padding: 1rem;
}
.sobrenos__caja p {
  text-align: left;
  color: #144b72;
  font-size: 1.2rem;
  padding: 0.5rem;
  font-family: "Baloo 2";
}

.sobrenos__4 {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
}

.card-mod {
  background-color: rgba(10, 143, 238, 0.5058823529);
  padding: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem;
}
.card-mod p {
  text-align: center;
  color: #144b72;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: "Baloo 2";
}

.titulos h5 {
  text-align: center;
  color: #003459;
  font-size: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.sobrenos__caja h1 {
  text-align: center;
  color: #003459;
  font-size: 3rem;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .mostrar-menu,
.esconder-menu {
    display: block;
    font-size: 45px;
  }
  footer {
    height: 70vh;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vw;
    background: radial-gradient(circle, rgb(5, 115, 248), rgb(3, 50, 136));
    right: -100%;
    top: 0;
    text-align: center;
    padding: 5rem 0;
    z-index: 100;
    transition: 0.4s;
  }
  .menu li {
    padding: 0.8rem;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
  }
  .principal__opiniones-titulo h3 {
    font-size: 1.5rem;
  }
  .esconder-menu {
    position: absolute;
    top: 0.2rem;
    right: 1rem;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  .wordwall {
    flex-direction: column;
  }
  .wordwall iframe {
    width: 90vw;
    height: 70vh;
  }
  .tit-ubicacion p {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: rgb(2, 45, 75);
  }
  .tit-ubicacion {
    /*//// animaciones /////*/
    /* /////////CLASES/////////// */
    /* //////CONTACTO////// */
    /* //////ABOUT US///// */
  }
  .tit-ubicacion span {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #1D3557;
    width: 100%;
  }
  .tit-ubicacion .examenes {
    flex-direction: column;
  }
  .tit-ubicacion .examenes h2 {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .tit-ubicacion .examenes img {
    width: 20rem;
  }
  .tit-ubicacion .principal__nov-1,
.tit-ubicacion .principal__nov-2,
.tit-ubicacion .principal__nov-3 {
    width: 95vw;
    height: 90vh;
  }
  .tit-ubicacion .principal__nov-cars {
    flex-direction: column;
    align-items: center;
  }
  .tit-ubicacion .persona img {
    width: 15vw;
  }
  .tit-ubicacion .clases__banner h1 {
    font-size: 2rem;
    width: 95vw;
    padding: 0.5rem;
    margin: 0 auto;
  }
  .tit-ubicacion .clases__banner p {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .tit-ubicacion .clases__banner button {
    margin-top: 1.5rem;
    margin-left: 2.5rem;
  }
  .tit-ubicacion .cursos h2 {
    font-size: 2rem;
  }
  .tit-ubicacion .cursos p {
    font-size: 1rem;
    margin: 5rem;
  }
  .tit-ubicacion .mediosdepago {
    flex-direction: column;
  }
  .tit-ubicacion .mediosdepago__container {
    height: 150%;
  }
  .tit-ubicacion .sobrenos__caja {
    flex-direction: column;
  }
  .tit-ubicacion .sobrenos__4 {
    flex-direction: column;
    align-items: center;
  }
  .tit-ubicacion .valores,
.tit-ubicacion .vision {
    width: 80vw;
    margin-bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .examenes {
    flex-direction: column;
  }
  .examenes p {
    font-size: 1rem;
  }
  footer {
    flex-direction: column;
    height: 90vh;
  }
  .nav__footer a {
    font-size: 1rem;
  }
  .footer2 {
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem;
  }
  .footer2 .logo img {
    width: 8rem;
  }
  /* ///////////HOME///////////// */
  .principal {
    height: 100%;
  }
  .banner {
    height: 15vh;
  }
  .banner span {
    margin-top: 0.5rem;
  }
  .examenes {
    width: 85vw;
    margin: 0.5rem;
  }
  .examenes p {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.1rem;
    text-align: center;
  }
  .examenes img {
    width: 7rem;
  }
  .principal__nov h2,
.principal__nov h3 {
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
  }
  .principal__nov p {
    font-size: 1rem;
  }
  .wordwall-caja iframe {
    width: 70vw;
    height: 25vh;
  }
  .w-caja-1 {
    margin-bottom: 2rem;
  }
  .juegos-titulo h2 {
    font-size: 2rem;
  }
  .principal__opiniones h3 {
    font-size: 2rem;
  }
  .caja .fa-user {
    right: 1rem;
    font-size: 3rem;
  }
  .container__ubicacion {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  /*/////// clases ////////*/
  .clases__banner h1 {
    font-size: 2rem;
    width: 100vw;
    padding: 0, 1rem;
  }
  .cursos h2 {
    font-size: 2rem;
  }
  .cursos p {
    font-size: 1rem;
    margin: 0;
  }
  .clases__banner--text p {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .cardclases-mod {
    margin: 1rem;
  }
  .valores,
.vision {
    width: 70vw;
  }
  /* ////contacto//// */
  .formulario__form form {
    margin: 0.5rem;
  }
  .mediosdepago__container {
    height: 100vh;
  }
  .mediosdepago {
    flex-direction: column;
  }
  .redes {
    margin-bottom: 1rem;
  }
  .sobrenos__caja {
    flex-direction: column;
  }
  .sobrenos__caja h1 {
    font-size: 2rem;
  }
  .sobrenos__caja p {
    margin: 1rem;
    text-align: justify;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .sobrenos__3 img {
    width: 8rem;
  }
  .card-mod {
    background-color: rgba(10, 143, 238, 0.5058823529);
    padding: 1.5rem;
    box-shadow: 0.2rem 0.2rem 0.3rem;
  }
  .card-mod p {
    text-align: justify;
    color: #144b72;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
