
.sobrenos{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    
  }
  
  .sobrenos__caja{
    @extend %displayf-row;
    padding: .9rem;
    box-shadow: .2rem .2rem .3rem;
    border-radius: .2rem  ;
    width: 100%;
  
  }
  .sobrenos__1{
    flex-direction: column;
    background-color: #91a6b488;
  }
  
  .sobrenos__2{
    background-color: #09b9ee57;
  }
  
  .sobrenos__3{
    background-color: #91a6b488;
  }
  
  .sobrenos__caja img{
   width: 10rem;
  }
  
  .sobrenos__caja {
    margin: .5rem;
    padding: 1rem;
    p{
      text-align: map-get($parrafos , alineacioniz );    
      color: map-get($parrafos ,  color2 );     
     font-size: 1.2rem;
      padding: .5rem;
      font-family: map-get($parrafos,fm );
     
     
    
   
    }
  
  }
  
  .sobrenos__4{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   margin: 1rem;
  }
  
  .card-mod{
    
    background-color: #0a8fee81;
    padding: 1.5rem;
    box-shadow: .2rem .2rem .3rem;
    p{
      text-align: map-get($parrafos , alineacioncentro );    
      color: map-get($parrafos ,  color2 );
      font-size: map-get($parrafos , fzlarge );
      padding: .5rem;
     font-family: map-get($parrafos, fm );
     
    
   
    }
  



  }
  .titulos h5{
    text-align: map-get($titulos , alineacioncentro );    
    color: map-get($titulos ,  color2 );
    font-size: map-get($titulos , fzlarge );
    padding: .5rem;
    margin: .5rem;
  }
  .sobrenos__caja h1{
    text-align: map-get($titulos , alineacioncentro );    
    color: map-get($titulos ,  color2 );
    font-size: map-get($titulos , fzlarge );
    padding: .5rem  ;
    
    
  }

  
  