.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/span 3;
  grid-row: 2/span 1;
  height: 40vh;
  width: 100%;
  background: $glass, url(../assets/img/banerinicio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    color: #fff;
    font-size: 6.5vw;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    width: 90vw;
    margin: 2vw;
  }


}

h2{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 1rem;
}

.banner__text {
  width: 70vw;

  span {
    color: #003459;
    display: inline-block;
    background-color: $secundario;
    font-size: 4vw;
    width: 57vw;
    margin-left: 10vw;
  }



}

.examenes {


  display: flex;
  justify-content: space-around;
  align-items: center;
  img{
    height: 20vh;
    width: 100vw;
  }

  .promo {
    border-radius: 0.2rem;
    box-shadow: 0.2rem 0.2rem 0.3rem;
    width: 15rem;
    height: 8rem;
    background-color: #09b8ee;
  }

  .promo1 {
    background: url(../assets/img/promo1.jpg);
    background-position: center;
    background-size: cover;
  }

  .promo2 {
    background: url(../assets/img/promo2.jpg);
    background-position: center;
    background-size: cover;
  }

  .promo3 {
    background: url(../assets/img/promo3.jpg);
    background-position: center;
    background-size: cover;
  }

}
.principal__nov {


  h2 {
    text-align: center;
    padding: 1rem;


  }
}


.principal__nov-cars {
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

.principal__nov-1,
.principal__nov-2,
.principal__nov-3 {

  width: 15rem;
  height: 8rem;
  margin: 2rem 0;
  background: url(../assets/img/nov1.jpg);
  background-size: cover;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.3rem;
}


.principal__videoyt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  
}


.wordwall-caja {   


iframe{
  width:40vw;
  height: 35vh;
  border-radius: .5rem;
 
  
}
}

.wordwall{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
 
}

.principal__videoyt-span{
  width: 30rem; 
  height: 20rem;
  background-color: #09b8ee;  
  margin: 1rem; 
 }
 
 .juegos-titulo{
  text-align: center;    
  background:rgba(102, 102, 102, 0.616) ;
  color: #fff;
  width: 90vw;
  margin: 0 auto;
}


.principal__opiniones-titulo{
  display: flex;
  justify-content: center;
   background:rgba(102, 102, 102, 0.596) ;
}


.principal__opiniones-titulo{   

i{
  font-size: 3rem;
  text-shadow: .1rem .1rem .1rem #000;
  color: rgb(26, 81, 133);
  
}
}

.principal__opiniones{   



h3{
  text-align: center;
  font-size: 2rem;
  color: #fff;
   padding: 1rem;
}
}
 
.principal__opiniones .caja-contenedor .caja{
  background-color:rgb(255, 255, 255) ;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border:.1rem solid rgba(0, 0, 0, .2);
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  flex: 1 1 30rem;


}
.caja-contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.caja .fa-user{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 5rem;
  color: rgba(11, 177, 189, 0.253);



}

 
.caja .users{   

img{
  border-radius: 50%;
  object-fit: cover;
  height: 8rem;
  width: 8rem;
  margin-top: 2rem;
}
}
.caja .users {  

h4{
  color:  #003459;
  font-size: 2rem;
   }
  }

  
.caja .stars { 
i{
  color: darkgoldenrod;
  font-size: 1.5rem;
  padding: 1rem 0;

}    
} 

.caja .comentarios{
  color: #666;
  font-size: 1.5rem;
  padding:1rem;
}

 .container__ubicacion{
display: flex;
background-color: #a8dadca8;
margin: .5rem;
height: 30vh;
  

 }
.ubicacion {
 width: 70vw;
 grid-column: 2 /span 3; 

}


 
.ubicacion { 
 iframe {
  width: 100%;
  height: 100%;  
}
}


.tit-ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 width: 30vw;
  grid-column: 1; 
}


.tit-ubicacion {  

span {
  font-size: 3vw;
  text-transform: uppercase;
  color: rgb(2, 45, 75);
}

p {
  font-size: 1rem;
  margin: 0.5rem;
  text-transform: uppercase;
  color: rgb(2, 45, 75);
}
}
.redes {   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;

img {
  align-items: flex-start;
  height: 2.3rem;
  margin: 0.5rem;

  span {
    color: #fff;
    margin-top: 0;
    font-size: 1.2em;
  
  }

  
.dire{
  color: #fff;
  font-size: 1rem;
  margin: 1rem; 
  width: 10rem;
  text-align: center;
  
}
}
}

.logo img {
  width: 5rem;
}
nav li {
  display: inline-block;

}