@media (max-width: 768px) {

  .mostrar-menu,
  .esconder-menu {
    display: block;
    font-size: 45px;

  }

  footer {
    height: 70vh;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vw;
    background: radial-gradient(circle, rgb(5, 115, 248), rgb(3, 50, 136));
    right: -100%;
    top: 0;
    text-align: center;
    padding: 5rem 0;
    z-index: 100;
    transition: .4s;

    li {
      padding: .8rem;
    }

  }



  nav {
    ul {
      display: flex;
      flex-direction: column;
      padding: .7rem;
    }
  }

  .principal__opiniones-titulo {
    h3 {
      font-size: 1.5rem;
    }
  }

  .esconder-menu {
    position: absolute;
    top: .2rem;
    right: 1rem;
  }

  #check:checked~.menu {
    right: 0;
  }


  .wordwall {
    flex-direction: column;
  }

  .wordwall iframe {
    width: 90vw;
    height: 70vh;

  }

  .tit-ubicacion {
    p {
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
      color: rgb(2, 45, 75);

    }
  }

  .tit-ubicacion {
    span {
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
      color: #1D3557;
      width: 100%;
    }


    .examenes {
      flex-direction: column;

    }

    .examenes h2 {
      font-size: 2rem;
      padding: .5rem;
    }

    .examenes img {
      width: 20rem;
    }

    .principal__nov-1,
    .principal__nov-2,
    .principal__nov-3 {
      width: 95vw;
      height: 90vh;
    }

    .principal__nov-cars {
      flex-direction: column;
      align-items: center;
    }

    .persona img {
      width: 15vw;
    }

    /*//// animaciones /////*/


    /* /////////CLASES/////////// */

    .clases__banner {
      h1 {
        font-size: 2rem;
        width: 95vw;
        padding: .5rem;
        margin: 0 auto;
      }

      p {
        font-size: 1rem;
        padding: 1rem 0;
      }

      button {
        margin-top: 1.5rem;
        margin-left: 2.5rem;

      }
    }

    .cursos {
      h2 {

        font-size: map-get($titulos, fzsmall);


      }

      p {

        font-size: map-get($parrafos, fzsmall);
        padding: .1rem;




      }


    }




    /* //////CONTACTO////// */



    .mediosdepago {
      flex-direction: column;
    }

    .mediosdepago__container {
      height: 150%;
    }

    /* //////ABOUT US///// */
    .sobrenos__caja {
      flex-direction: column;
    }

    .sobrenos__4 {
      flex-direction: column;
      align-items: center;


    }

    .valores,
    .vision {
      width: 80vw;
      margin-bottom: 1rem;
    }

  }
}

@media (max-width: 480px) {
  .examenes {
    flex-direction: column;
    p {
      font-size: map-get($parrafos, fzsmall);
    }
  }

  footer {
    flex-direction: column;
    height: 90vh;

  }

  .nav__footer {
    a {

      font-size: 1rem;

    }
  }



  .footer2 {
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem;


  }

  .footer2 .logo {
    img {
      width: 8rem;
    }
  }


  /* ///////////HOME///////////// */

  .principal {
    height: 100%;
  }

  .banner {
    height: 15vh;

    span {
      margin-top: .5rem;
    }
  }

  .examenes {
    width: 85vw;
    margin: .5rem;

  }

  .examenes {
    p {
      font-size: 1rem;
      padding: .5rem;
      width: 100%;
      margin-top: .1rem;
      text-align: center;


    }
  }

  .examenes {
    img {
      width: 7rem;
    }
  }

  .principal__nov {

    h2,
    h3 {

      font-size: map-get($titulos, fzsmall);
    }

    p {

      font-size: map-get($parrafos, fzsmall);


    }
  }
  .wordwall-caja iframe{
    width: 70vw;
    height: 25vh;
  }
  .w-caja-1{
    margin-bottom: 2rem;
  }

  .juegos-titulo {

    h2 {


      font-size: map-get($titulos, fzsmall);

    }

  }

  

  .principal__opiniones {

    h3 {

      font-size: map-get($titulos, fzsmall);

    }
  }

  .caja .fa-user {

    right: 1rem;
    font-size: 3rem;


  }

  .container__ubicacion {
    flex-direction: column;
    align-items: center;
    margin-bottom: .5rem;
  }



  /*/////// clases ////////*/

  .clases__banner {
   h1{
     font-size: map-get($titulos , fzsmall );
     
     width: 100vw;
     padding: 0,1rem;
     
   }
  }
  .clases__banner--text{
    p{
      font-size: map-get($parrafos, fzsmall );
      text-align: map-get($parrafos , alineacioncentro );
      margin: 0 auto;
      padding: 0;
     
    }
  }

  .cardclases-mod {

    margin: 1rem;


  }



  .valores,
  .vision {
    width: 70vw;

  }

  /* ////contacto//// */


  .formulario__form  {     
  
  form {
    margin: .5rem;


  }
}
.mediosdepago__container{
  height: 100vh;
}
.mediosdepago{
  flex-direction: column;
}


.redes {
  margin-bottom: 1rem;
}

///aboutus///

.sobrenos__caja {
  flex-direction: column;
  h1 {
    font-size: 2rem;
  }

  p {
    margin: 1rem;
  }
}

.sobrenos__3 {
  img {
    width: 8rem;
  }
}

.card-mod {

  background-color: #0a8fee81;
  padding: 1.5rem;
  box-shadow: .2rem .2rem .3rem;

  p {
    text-align: map-get($parrafos, alineacioncentro);
    color: map-get($parrafos, color2);
    font-size: map-get($parrafos, fzsmall);
    padding: .5rem;




  }




}
}