$radialfondo: radial-gradient(circle, rgb(5, 115, 248), rgb(3, 50, 136));
$primario:#2153aa ;
$secundario: #ddab34;
$terciario:#f2f2f2;
$glass:linear-gradient( rgba(57, 124, 163, 0.514),rgba(39, 64, 207, 0.438));


//#FFB703 amarillo
//#fa7901 naranja