$titulos:(
    color1: $blanco,
    color2:$azuloscuro,
    fzsmall: 2rem,
    fzlarge: 3rem,
    fzxl: 4rem,
    alineacioniz:left ,
    alineacionde:right,
    alineacioncentro:center,

    
    
);

$parrafos:(
    color1: $blanco,
    color2:$azulp,
    fzsmall: 1rem,
    fzlarge: 1.5rem,
    fzxl: 1.8rem,
    fm:'Roboto' sans-serif,
    alineacioniz:left ,
    alineacionde:right,
    alineacioncentro:center,


)
